<!DOCTYPE html>
<html>
    <head>
        <title><%= pageSource.name %></title>
    </head>

    <body>
        <div id="root"><h3>Welcome to <%= themeDetails.name %> <%= pageSource.name %> page</h3></div>
    </body>
</html>
