<!DOCTYPE html>
<html lang=<%= pageSource.lang %>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="Description" content="Category: Restaurants" />
        <title><%= pageSource.name %></title>
    </head>

    <body>
        <div id="root"><h3>Welcome to <%= themeDetails.name %> <%= pageSource.name %> page</h3></div>
        <script src="/test.js"></script>
    </body>
</html>
